obj/
*.*~
*.bak
utils/bonanzatoapery/bonanzatoapery.exe
utils/bonanzatoapery/fv38.bin
src/apery*.exe
Apery/Debug/
Apery/Apery.opensdf
Apery/Apery.sdf
Apery/Apery.v12.suo
Apery/Apery.vcxproj.filters
Apery/x64/
Apery/Release/
Apery/Apery.vcxproj.user
Apery/HiyokoRelease/
Apery/HiyokoDebug/
libs/
